@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Italic-webfont.eot");
  src: url("fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Italic-webfont.woff") format("woff"),
       url("fonts/OpenSans-Italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Semibold-webfont.eot");
  src: url("fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Semibold-webfont.woff") format("woff"),
       url("fonts/OpenSans-Semibold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"),
       url("fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/OpenSans-Light-webfont.eot");
  src: url("fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Light-webfont.woff") format("woff"),
       url("fonts/OpenSans-Light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/OpenSans-LightItalic-webfont.eot");
  src: url("fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-LightItalic-webfont.woff") format("woff"),
       url("fonts/OpenSans-LightItalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("fonts/OpenSans-Regular-webfont.woff") format("woff"),
       url("fonts/OpenSans-Regular-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Extra Bold */

@font-face {
  font-family: "Open Sans ExtraBold";
  src: url("fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans ExtraBold";
  src: url("fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
    background: #2563A2;
    background-image: url("img/bg.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-color: #2284BE;
    background-attachment: fixed;
    padding-top:40px;
}

body:before {
    position:absolute;
    bottom:0;
    right:0px;
    width:100%;
    height:125px;
    background:url(img/fox.png);
    background-repeat:no-repeat;
    background-position: right;
    background-size:auto auto;
    content:'';
}

.navbar-topo .navbar-brand {
    font-family: "Open Sans Light";
}

.navbar-topo .nav li {
    font-family:"Open Sans";
}
.navbar-topo{
	background-color:#083A6D;
	border-color:#042C56;
}

.navbar-topo .navbar-brand{
	color:#fff;
}

.navbar-topo .navbar-brand:hover,.navbar-topo .navbar-brand:focus{
	color:#9d9d9d;
	background-color:transparent
}

.navbar-topo .navbar-text{
	color:#9d9d9d
}

.navbar-topo .navbar-nav>li>a{
	color:#9d9d9d
}

.navbar-topo .navbar-nav>li>a:hover,.navbar-topo .navbar-nav>li>a:focus{
	color:#fff;
	background-color:transparent
}

.navbar-topo .navbar-nav>.active>a,.navbar-topo .navbar-nav>.active>a:hover,.navbar-topo .navbar-nav>.active>a:focus{
	color:#fff;
	background-color:#080808
}

.navbar-topo .navbar-nav>.disabled>a,.navbar-topo .navbar-nav>.disabled>a:hover,.navbar-topo .navbar-nav>.disabled>a:focus{
	color:#444;
	background-color:transparent
}

.navbar-topo .navbar-toggle{
	border-color:#042C56
}

.navbar-topo .navbar-toggle:hover,.navbar-topo .navbar-toggle:focus{
	background-color:#042C56
}

.navbar-topo .navbar-toggle .icon-bar{
	background-color:#fff
}

.navbar-topo .navbar-collapse,.navbar-topo .navbar-form{
	border-color:#101010
}

.navbar-topo .navbar-nav>.open>a,.navbar-topo .navbar-nav>.open>a:hover,.navbar-topo .navbar-nav>.open>a:focus{
	color:#fff;
	background-color:#080808
}

@media (max-width:767px){
	.navbar-topo .navbar-nav .open .dropdown-menu>.dropdown-header{
		border-color:#080808
	}

	.navbar-topo .navbar-nav .open .dropdown-menu .divider{
		background-color:#080808
	}

	.navbar-topo .navbar-nav .open .dropdown-menu>li>a{
		color:#9d9d9d
	}

	.navbar-topo .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-topo .navbar-nav .open .dropdown-menu>li>a:focus{
		color:#fff;
		background-color:transparent
	}

	.navbar-topo .navbar-nav .open .dropdown-menu>.active>a,.navbar-topo .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-topo .navbar-nav .open .dropdown-menu>.active>a:focus{
		color:#fff;
		background-color:#080808
	}

	.navbar-topo .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-topo .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-topo .navbar-nav .open .dropdown-menu>.disabled>a:focus{
		color:#444;
		background-color:transparent
	}

}

.navbar-topo .navbar-link{
	color:#9d9d9d
}

.navbar-topo .navbar-link:hover{
	color:#fff
}

.navbar-topo .btn-link{
	color:#9d9d9d
}

.navbar-topo .btn-link:hover,.navbar-topo .btn-link:focus{
	color:#fff
}

.navbar-topo .btn-link[disabled]:hover,fieldset[disabled] .navbar-topo .btn-link:hover,.navbar-topo .btn-link[disabled]:focus,fieldset[disabled] .navbar-topo .btn-link:focus{
	color:#444
}
.page-heading {
  background:rgba(0,0,0,0.2);
  color:#fff;
  padding:5px 40px 5px 40px;
  font-family: "Open Sans Extrabold";
  text-transform: uppercase;
  font-style: italic;
}
